@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="state" method="post">
                <h4>Ensure App Context .</h4>
                <hr />
 

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" asp-page-handler="EnsureAppContext" value="EnsureAppContext">EnsureAppContext</button>
                </div>
            </form>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="state" method="post">
                <h4>Set Tenant Context.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="InputTenant.TenantId"></label>
                    <input asp-for="InputTenant.TenantId" class="form-control" />
                    <span asp-validation-for="InputTenant.TenantId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" asp-page-handler="SetTenant" value="SetTenant">Set Tenant</button>
                </div>
            </form>
        </section>
    </div>
</div>
